<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ArtisanMarketPlace</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">"Welcome to Artisan Marketplace, your premier destination for discovering and celebrating the art of craftsmanship. We are a vibrant platform connecting talented artisans with customers who value the beauty of handmade and unique creations. At Artisan Marketplace, we believe in the power of creativity and the stories behind every piece. Whether you're an artisan showcasing your skill or a buyer seeking one-of-a-kind products, we are committed to fostering connections that inspire and empower. Explore a diverse range of handcrafted items, support local talent, and join us in promoting sustainable and meaningful commerce. Together, we craft a world where artistry thrives and individuality shines." </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
