{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<br><br>
<center><i>Pay with MPesa via DarajaAPI</i></center>
<br><br>
<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:500px; width:600px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" id="mpesaForm" action="{% url 'initiate_payment' %}">
                        {% csrf_token %}
                         <input type="hidden" name="art_id" value="{{ art.id }}" />
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number"
                                   placeholder="254712345678" required />
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount (KES)</label>
                            <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount" required />
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Pay with MPesa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.getElementById('mpesaForm');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);

        const response = await fetch(form.action, {
            method: 'POST',
            body: formData,
        });

        const data = await response.json();
        if (data.redirect_url) {
            alert("Payment request sent to your phone. Complete it to finalize Order.");
            window.location.href =data.redirect_url;
        } else {
            alert("Payment failed: " + data.errorMessage);
        }
    });
</script>
{% endblock%}